.Rproj.user
.Rhistory
.RData
.Ruserdata
Cofad - Daten - Johannes.sav
Cofad - POTJ.sav
rosenthal_tbl53.png
rsconnect/
test_markus.R
tests/testthat/furr_files/
tests/testthat/rosenthal_tbl53_files/
tests/testthat/sedlmeier537_files/
tests/testthat/sedlmeier537.html
tests/testthat/furr.html
tests/testthat/rosenthal_tbl53.html
library.bib
Probeklausurdaten_D.csv
gitstats.txt
logo/
